stages:
  - deploy

before_script:
  - hostname
  - python3 --version

deploy-revpi:
  stage: deploy
  tags:
    - revpi104544
    - shell
  script:
    - echo "$ENV_CONFIG" > .env
    - chmod +x install.sh
    - ./install.sh --force

