.dark-medium-contrast {
  --md-sys-color-primary: rgb(157 208 254);
  --md-sys-color-surface-tint: rgb(153 204 249);
  --md-sys-color-on-primary: rgb(0 24 41);
  --md-sys-color-primary-container: rgb(98 150 192);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(188 205 222);
  --md-sys-color-on-secondary: rgb(7 24 36);
  --md-sys-color-secondary-container: rgb(131 146 163);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(214 195 235);
  --md-sys-color-on-tertiary: rgb(28 16 46);
  --md-sys-color-tertiary-container: rgb(154 138 175);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(249 251 255);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(198 203 211);
  --md-sys-color-outline: rgb(158 163 171);
  --md-sys-color-outline-variant: rgb(126 132 139);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 226 232);
  --md-sys-color-inverse-on-surface: rgb(39 42 46);
  --md-sys-color-inverse-primary: rgb(9 76 115);
  --md-sys-color-primary-fixed: rgb(204 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 33);
  --md-sys-color-primary-fixed-dim: rgb(153 204 249);
  --md-sys-color-on-primary-fixed-variant: rgb(0 57 90);
  --md-sys-color-secondary-fixed: rgb(212 228 246);
  --md-sys-color-on-secondary-fixed: rgb(3 18 31);
  --md-sys-color-secondary-fixed-dim: rgb(184 200 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(41 56 69);
  --md-sys-color-tertiary-fixed: rgb(237 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(23 10 41);
  --md-sys-color-tertiary-fixed-dim: rgb(209 191 231);
  --md-sys-color-on-tertiary-fixed-variant: rgb(61 48 80);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(54 58 62);
  --md-sys-color-surface-container-lowest: rgb(11 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 32);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(39 42 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}
