.light-medium-contrast {
  --md-sys-color-primary: rgb(0 71 109);
  --md-sys-color-surface-tint: rgb(43 99 139);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(69 121 163);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(53 68 82);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(103 118 134);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(74 61 93);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(125 110 146);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(247 249 255);
  --md-sys-color-on-background: rgb(24 28 32);
  --md-sys-color-surface: rgb(247 249 255);
  --md-sys-color-on-surface: rgb(24 28 32);
  --md-sys-color-surface-variant: rgb(222 227 235);
  --md-sys-color-on-surface-variant: rgb(62 67 74);
  --md-sys-color-outline: rgb(90 96 102);
  --md-sys-color-outline-variant: rgb(118 123 130);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 49 53);
  --md-sys-color-inverse-on-surface: rgb(238 241 246);
  --md-sys-color-inverse-primary: rgb(153 204 249);
  --md-sys-color-primary-fixed: rgb(69 121 163);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(40 96 136);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(103 118 134);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(78 94 108);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(125 110 146);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(100 86 120);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(215 218 223);
  --md-sys-color-surface-bright: rgb(247 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 244 249);
  --md-sys-color-surface-container: rgb(235 238 243);
  --md-sys-color-surface-container-high: rgb(230 232 238);
  --md-sys-color-surface-container-highest: rgb(224 226 232);
}
